@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playwrite+US+Trad+Guides&family=Sekuya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Playwrite+US+Trad+Guides&family=Sekuya&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 5s;
}

a:hover {
    text-decoration: underline;
    font-size: 1.05em;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.8em;
    font-size: 3vw;
    font-family: var(--fonte3);
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(53, 53, 53);
    color: white;
    box-shadow: inset 0px 0px 13px 0px black;
    
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.535);
    display: inline-block;
    padding: 0px 20px 0px 20px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}