@charset "UTF-8";

@media screen and (min-width: 768px ) {
    nav {
        justify-content: start;
        text-align: center;
    }
    nav > a {
        flex: 0;
        padding: 10px 15px;
        margin-left: 8px;
    }

    #conteudo {
        display: flex;
        justify-content: center;
    }
    main, aside {
        background-color: rgba(134, 119, 192, 0.294);
        margin: 0px 5px;
        width: 95.7%;
        flex: 1;
        max-width: 650px;
    }
    aside {
        max-width: 350px;
    }
}