@charset "UTF-8";

body {
    background-color: #ebfdd9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    color: #012030;
}

h1#principal {
    color: #9AEBA3;
    background-color: #45C4B0;
    text-align: center;
}

h2 {
    color: #13678b;
}

.basico {
    color: #1883b1;
}

.intermediario {
    color: #157097;
}

.avancado {
    color: #0f4e69;
}

.destaque {
    font-weight: bold;
    font-style: italic;
}