@charset "UTF-8";

/* Estilos para impressão */

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
    /* o display none fara com que o conteudo escolhido não apareça */
}

article {
    width: 100vw;
}

article::after {
    content: "informações do site WWW.Pamonhasan.com.br, 12/04/2026";
}